#parse("templates/header.html.vm")
<h2>Manage</h2>
<ul>
    <li><a href="products">Products</a></li>
    <li><a href="customers">Customers</a></li>
    <li><a href="orders">Orders</a></li>
    <li><a href="reports">Reports</a></li>
    <li><a href="settings">Settings</a></li>
</ul>
</body>
</html>
